/* место для вашего кода */
.header {
    display:grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 24px;
    height: 293px;
}
.header__menu {
    text-underline-position: under;
}
.header__links-list {
    display: flex;
    gap: 32px;
    justify-content: start;
}
.header__links-list-item {
    list-style: circle;
}
.header__links-list-item_no-built {
    list-style: none;
}
.header__link-active {
    text-decoration: none;
}
.header__link {
    font-size: 18px;
    white-space: nowrap;
}
.text-link:hover {
    background-color: #000000;
    color: #FFF;
}
.header__logo {
    display: block;
    justify-content: end;
    width: 140px;
}
.header__logo-image {
    width:100%;
}
.header__address {
    display: block;
    font-style: inherit;
    justify-self: end;
    line-height: 24px;
}
.address-item {
    display: block;
    font-size: 18px;
    line-height: 1.35;
    text-underline-position: under;
    text-underline-offset: 3px;
    font-style: normal;
}
.address-text {
    font-size: 18px;
    line-height: 1.35;
}
.cover-section {
    position: relative;
    padding: 165px 50px 0;
    height: 757px;
    width: 1100px;
    background-image: url(/images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
}
.overlay {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 60%;
    background-color:#000000;
}
.cover__title {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color:#FFF;
    font-weight: bold;
    font-size: 100px;
    line-height: 1.15;
    letter-spacing: 30px;
    text-transform: uppercase;
}
.algined-text {
    display: block;
}
.algined-text-center {
    line-height: 1;
    text-align: center;
}
.algined-text-right {
    line-height: 1;
    text-align: right;
}
.spacing-text {
    letter-spacing: 30px;
}
.remove-spacing {
    letter-spacing: normal;
}
.cover__description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap:78px;
    padding: 136px 0 0;
}
.cover__description-text {
    color: #FFF;
    font-size: 22px;
    line-height: 1.27;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 18px;
    padding: 12px 0 11px;    
} 
.bet-button {
    padding: 12px 32px 11px 31px;
    font-family: 'Raleway', sans-serif;
    font-style: bold;
    color:#FFF;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 22px;
    line-height: 1;
    background-color: transparent;
    cursor: pointer;
    border:1px #FFF solid;
}
.bet-button:hover {
    color: #000000;
    background-color: #FFF;
}
.lots-section {
    padding: 180px 24px 0;
}
.lots__head {
    padding: 0 0 27px 40px;
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
}
.lots__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    list-style: none;
    margin: 0 auto;
    padding-bottom: 30px;
    padding: 0;
}
.lots__card-list-item {
    height: 596px;
    width: 334px;
    flex-grow: 1;
}
.card-link {
    display: block;
    height: 100%;
    text-underline-position: under;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-content: space-between;
    gap: 30px;
    height:100%;
    padding: 48px 40px;
    background-position: center;
    flex-grow: 1;
} 
.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.card__title {
    position: relative;
    z-index: 1;
    color:#FFF;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    text-decoration-line:underline;
    text-transform: uppercase;
}
.card__text {
    position: relative;
    z-index: 1;
    color:#FFF;
    font-size: 20px;
    line-height: 120%;
    font-style: normal;
    font-weight: 400;
}
.lots__look-more-link {
    display: block;
    margin-left: 64px;
    padding-top: 30px;
    font-size: 20px;
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 3px;
}
.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    padding: 120px 24px 0;
}
.about__column {
    justify-self: start;
}
.about__column-text {
    grid-column: 2/4;
} 
.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: start;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    margin: 35px 47px;
}
.about__logo-image {
    width: 148px;
    height: 114px;
    margin: auto;
}
.about__title {
    padding-top: 136px;
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
}
.about__text {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-top: 150px;
    padding-bottom: 25px;
    font-family: 'Raleway' sans-serif;
    font-weight: 400;
    line-height: 24px;
    gap: 25px;
    font-size: 20px;
} 
.text_one {
    margin-right: 29px;
}
.text_two {
    margin-right: 24px;
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 180px;
    gap: 140px;
}
.address {
    justify-self: end;
    font-size: 18px;
}
.footer_address-text {
    font-size: 18px;
    font-style: normal;
}
.footer__menu {
    display: flex;
    flex-direction: column;
    padding-top:1px;
}
.footer__menu-list {
    text-align: center;
}
.footer__menu-list-item {
    list-style: none;
}
.footer__menu-link {
    font-size: 18px;
    line-height: normal;
    text-underline-position: under;
}
.footer__menu-link_active {
    text-decoration: none;
}
.footer__social-list {
    display: flex;
    list-style: none;
    column-gap: 48px;
    justify-content: end;
}
.footer__social-list-item {
    list-style: none;
}
.footer__social-icon {
    width: 48px;
    height: 48px;
}